body{
    background-color: #FFEAD5;
}

/* CSS del carrusel */
/* https://www.youtube.com/watch?v=9FNNkzPBFcE */

.carrusel{
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
}

.carrusel ul{
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 25s infinite ease-in-out;
}

.carrusel li{
    list-style: none;
    width: 20%;
    flex-shrink: 0;
}

.carrusel img{
    width: 100%;
    object-fit: cover;
    display: block;
}

/* CSS del menu */
/* https://www.youtube.com/watch?v=9FNNkzPBFcE */

.titulo{
    font-size: 2.5rem;
    margin: 40px 0 30px 0;
    font-weight: bold;
    padding-left: 20px;
}

.contenedorMenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.individual{
    width: 325px;
    background-color: #8B0000;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.individual img{
    width: 100%;
    height: 225px;
}

.contenidoIndividual{
    padding: 15px;
    text-align: center;
    color: #FAF7F2;
}

/* Parte del carrusel */

@keyframes slide {
    0% {margin-left: 0%;}
    18% {margin-left: 0%;}

    20% {margin-left: -100%;}
    38% {margin-left: -100%;}

    40% {margin-left: -200%;}
    58% {margin-left: -200%;}

    60% {margin-left: -300%;}
    78% {margin-left: -300%;}

    80% {margin-left: -400%;}
    100% {margin-left: -400%;}
}

/* Fin de parte del carrusel */